@model HospitalNuget.Models.Informe

@{
    ViewBag.Title = "EditarInforme";
}

<h2>Editar Informe</h2>
<hr />
<div class="line-btn alignDerecha">
    <a asp-controller="Informe" asp-action="Informes" asp-route-pacienteId="@Model.PacienteId" class="btn btn-info">Volver</a>
</div>

<form asp-controller="Informe" asp-action="EditarInforme" method="post">
    <div class="form-horizontal" asp-validation-summary="None">
        <h4>Informe de @Model.Paciente.Nombre</h4>
        <hr />
        <input type="hidden" asp-for="InformeId" />

        <div class="form-group">
            <label asp-for="Descripcion" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Diagnostico" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <textarea asp-for="Diagnostico" rows="10" cols="50" style="min-width:100%" class="form-control"></textarea>
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 alignDerecha">
                <input type="submit" value="Editar" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
