@{
    ViewBag.Title = "Services";
}

<environment include="Development,Production">
    <link href="~/css/services.css" rel="stylesheet" />
    <link href="~/css/services_responsive.css" rel="stylesheet" />
</environment>

<div class="super_container">
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title"><h2>Nuestros servicios destacados</h2></div>
                </div>
            </div>
            <div class="row services_row">

                <!-- Service -->
                <div class="col-lg-4 col-md-6 service_col">
                    <a href="#">
                        <div class="service text-center trans_200">
                            <div class="service_icon"><img class="svg" src="~/Images/service_1.svg" alt=""></div>
                            <div class="service_title trans_200">Chequeos Gratis</div>
                            <div class="service_text">
                                <p>Aproveche nuestros chequeos gratuitos anuales.</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-lg-4 col-md-6 service_col">
                    <a href="#">
                        <div class="service text-center trans_200">
                            <div class="service_icon"><img class="svg" src="~/Images/service_2.svg" alt=""></div>
                            <div class="service_title trans_200">Exámenes de detección</div>
                            <div class="service_text">
                                <p>Tenemos la mejor tecnología para detectar cualquer irregularidad.</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-lg-4 col-md-6 service_col">
                    <a href="#">
                        <div class="service text-center trans_200">
                            <div class="service_icon"><img class="svg" src="~/Images/service_3.svg" alt=""></div>
                            <div class="service_title trans_200">Servicios RMI</div>
                            <div class="service_text">
                                <p>
                                    Los radiólogos y técnicos manejan de forma segura la radiación, utilizando la mínima dosis necesaria para obtener imágenes satisfactorias,
                                    siendo la dosis absorbida mínima y el beneficio obtenido mayor.
                                    La radiación no permanece en la habitación una vez apagado el foco emisor.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-lg-4 col-md-6 service_col">
                    <a href="#">
                        <div class="service text-center trans_200">
                            <div class="service_icon"><img class="svg" src="~/Images/service_4.svg" alt=""></div>
                            <div class="service_title trans_200">Odontología</div>
                            <div class="service_text">
                                <p>Esta especialidad médica se encarga del diagnóstico, tratamiento y prevención de las enfermedades de los dientes y del tratamiento de sus dolencias.</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-lg-4 col-md-6 service_col">
                    <a href="#">
                        <div class="service text-center trans_200">
                            <div class="service_icon"><img class="svg" src="~/Images/service_5.svg" alt=""></div>
                            <div class="service_title trans_200">Neonatología</div>
                            <div class="service_text">
                                <p>
                                    Atendemos unos 700 neonatos al año que requieren ingreso en la Unidad Neonatal, el 80% de ellos nacidos en el propio Hospital.
                                    Además, también tratamos a bebés procedentes de otros hospitales.
                                </p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-lg-4 col-md-6 service_col">
                    <a href="#">
                        <div class="service text-center trans_200">
                            <div class="service_icon"><img class="svg" src="~/Images/service_6.svg" alt=""></div>
                            <div class="service_title trans_200">Bioquímica</div>
                            <div class="service_text">
                                <p>
                                    La especialidad de Bioquímica Clínica se fundamenta en las actuaciones en las que a través de diagnósticos analíticos,
                                    pruebas funcionales y/o de laboratorio y su correlación fisiopatológica, ayuden al diagnóstico, pronóstico, terapéutica médica y
                                    prevención de la enfermedad.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Features -->

    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="features_container d-flex flex-row flex-wrap align-items-start justify-content-between">

                        <!-- Feature -->
                        <div class="feature">
                            <div class="feature_image"><img src="~/Images/features_1.jpg" alt=""></div>
                            <div class="feature_content">
                                <div class="section_title"><h2>Nosotros te ayudamos</h2></div>
                                <div class="feature_text">
                                    <p>
                                        Calidad, tanto la referidad al ámbito científico-técnico como aquella percibida por el paciente y sus familiares, que tienen
                                        a su disposición una de las carteras de servicios más amplias y competitivas del país.
                                    </p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>

                        <!-- Feature -->
                        <div class="feature">
                            <div class="feature_image"><img src="~/Images/features_2.jpg" alt=""></div>
                            <div class="feature_content">
                                <div class="section_title"><h2>Medicina para usted</h2></div>
                                <div class="feature_text">
                                    <p>
                                        Integridad, transparencia y honestidad en nuestras relaciones con los pacientes y su entorno, con la sociedad, con la administración publica, así
                                        como con nuestros trabajadores y colaboradores.
                                    </p>
                                    <p>&nbsp;</p>
                                </div>
                            </div>
                        </div>

                        <!-- Feature -->
                        <div class="feature">
                            <div class="feature_image"><img src="~/Images/features_3.jpg" alt=""></div>
                            <div class="feature_content">
                                <div class="section_title"><h2>Tecnología sorprendente</h2></div>
                                <div class="feature_text">
                                    <p>
                                        Innovación e investigación, apostando por las nuevas tecnologías, formación y docencia como herramientas de avance, crecimiento y desarrollo
                                        futuro del hospital, cuyo último y principal beneficiario será el paciente, brindandole una mejor calidad de vida.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Text Section -->

    <div class="text_section">
        <div class="container">
            <div class="row">

                <!-- Text Section Image -->
                <div class="col-lg-5">
                    <div class="text_section_image"><img src="~/Images/text_section.jpg" alt=""></div>
                </div>

                <!-- Text Section Content -->
                <div class="col-lg-7">
                    <div class="text_section_content">
                        <div class="section_title"><h2>Un gran equipo médico para atender sus necesidades.</h2></div>
                        <div class="text_section_text">
                            <p>
                                Nuestro centro está dotado de un capital humano altamente cualificado, que busca la excelencia en todas sus actuaciones,
                                y que cuenta con una de las carteras de servicio más amplias y competitivas del país. Casi 600 residentes de 48 especialidades diferentes
                                estaban realizando su formación en el Hospital Universitario La Paz durante el año 2018,
                                además de los casi 50 integrantes de las tres especialidades de Enfermería.
                            </p>
                        </div>
                        <div class="button text_section_button"><a asp-controller="Home" asp-action="About">Saber más</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Call to action -->
    @*<div class="cta">
            <div class="cta_background parallax-window" data-parallax="scroll" style="background-image:url(../../Images/cta.jpg)" data-speed="0.8"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="cta_content text-center">
                            <h2>Need a personal health plan?</h2>
                            <p>Duis massa massa, mollis vel ullamcorper quis, finibus et urna. Aliquam ac eleifend metus. Ut sollicitudin risus ex</p>
                            <div class="button cta_button"><a href="#">request a plan</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<environment include="Development,Production">
    <script src="~/js/services.js"></script>
</environment>
