@{
    ViewBag.Title = "Index";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-controller="Paciente" asp-action="Informes">Informes</a></li>
        <li><a asp-controller="Paciente" asp-action="Citas">"Mis Citas</a></li>
    </ul>
</div>