@{
    ViewBag.Title = "Login";
}

<form asp-controller="Manage" asp-action="Login" method="post" class="login100-form validate-form flex-sb flex-w">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <span class="login100-form-title p-b-51" style="font-family:'Segoe UI';font-size:54px">
                    Log in
                </span>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="password" name="password" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        Acceder
                    </button>
                </div>
                <br />
                <br />
                <h3 style="color:red; font-size:x-large; text-align:center">@ViewData["Mensaje"]</h3>
            </div>
        </div>
    </div>
</form>
